.em-resize-bar {
  background-color: var(--primary-highlight);
  height: 90vh;
  width: 20px;
  margin: 0 4px;
  box-sizing: border-box;
  cursor: col-resize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
